{% if (sidebar.position == 'left' or sidebar.position == 'both') %}
    <div class="sidebar-left">
        <ul>
            <li>
                <button class="menu-item" onclick="toggleMenu('website')">Website</button>
                <ul id="website" class="submenu">
                    <li><a href="{{ BASE_URL }}/setup/googleLogin"><i class="fa fa-person"></i> Google Login</a></li>
                    <li><a href="{{ BASE_URL }}/setup/item12"><i class="fa fa-person"></i> Item 1.2</a></li>
                    <li><a href="{{ BASE_URL }}/setup/item13"><i class="fa fa-person"></i> Item 1.3</a></li>
                </ul>
            </li>
            <li>
                <button class="menu-item" onclick="toggleMenu('section_2')">Section 2</button>
                <ul id="section_2" class="submenu">
                    <li><a href="{{ BASE_URL }}/setup/item21"><i class="fa fa-person"></i> Item 2.1</a></li>
                    <li><a href="{{ BASE_URL }}/setup/item22"><i class="fa fa-person"></i> Item 2.2</a></li>
                    <li><a href="{{ BASE_URL }}/setup/item23"><i class="fa fa-person"></i> Item 2.3</a></li>
                </ul>
            </li>
            <li>
                <button class="menu-item" onclick="toggleMenu('section_3')">Section 3</button>
                <ul id="section_3" class="submenu">
                    <li><a href="{{ BASE_URL }}/setup/item31"><i class="fa fa-person"></i> Item 3.1</a></li>
                    <li><a href="{{ BASE_URL }}/setup/item32"><i class="fa fa-person"></i> Item 3.2</a></li>
                    <li><a href="{{ BASE_URL }}/setup/item33"><i class="fa fa-person"></i> Item 3.3</a></li>
                </ul>
            </li>
        </ul>
        <div class="sidebar-footer">
            <button class="back-button" onclick="goBack('{{ BASE_URL }}/home')">Terug</button>
        </div>
    </div>
{% endif %}
{% if (sidebar.position == 'right' or sidebar.position == 'both') %}
    <div class="sidebar-right">
        <ul>
            <li>
                <button class="menu-item" onclick="toggleMenu('website')">Website</button>
                <ul id="website" class="submenu">
                    <li><a href="{{ BASE_URL }}/setup/googleLogin"><i class="fa fa-person"></i> Google Login</a></li>
                    <li><a href="{{ BASE_URL }}/setup/item12"><i class="fa fa-person"></i> Item 1.2</a></li>
                    <li><a href="{{ BASE_URL }}/setup/item13"><i class="fa fa-person"></i> Item 1.3</a></li>
                </ul>
            </li>
            <li>
                <button class="menu-item" onclick="toggleMenu('section_2')">Section 2</button>
                <ul id="section_2" class="submenu">
                    <li><a href="{{ BASE_URL }}/setup/item21"><i class="fa fa-person"></i> Item 2.1</a></li>
                    <li><a href="{{ BASE_URL }}/setup/item22"><i class="fa fa-person"></i> Item 2.2</a></li>
                    <li><a href="{{ BASE_URL }}/setup/item23"><i class="fa fa-person"></i> Item 2.3</a></li>
                </ul>
            </li>
            <li>
                <button class="menu-item" onclick="toggleMenu('section_3')">Section 3</button>
                <ul id="section_3" class="submenu">
                    <li><a href="{{ BASE_URL }}/setup/item31"><i class="fa fa-person"></i> Item 3.1</a></li>
                    <li><a href="{{ BASE_URL }}/setup/item32"><i class="fa fa-person"></i> Item 3.2</a></li>
                    <li><a href="{{ BASE_URL }}/setup/item33"><i class="fa fa-person"></i> Item 3.3</a></li>
                </ul>
            </li>
        </ul>
        <div class="sidebar-footer">
            <button class="back-button" onclick="goBack('{{ BASE_URL }}/home')">Terug</button>
        </div>
    </div>
{% endif %}
<div class="main-content">
    {% block main-content %}{% endblock %}
</div>